.vs/
obj/
bin/
*.user
logs/
/BossMod/2024 03 08 Modules.zip
/BossMod/Modules/Shadowbringers/Savage/E4STitan/E4STitan2.cs
/BossMod/Modules/Shadowbringers/Savage/E4STitan/E4STitan1.cs
/BossMod/Properties/PublishProfiles/FolderProfile.pubxml
/BossMod/Modules/Endwalker/Dungeon/D12Aetherfont.zip
/BossMod/Modules/Shadowbringers/Dungeon/D01HolminsterSwitch/D012TesleentheForgiven.cs
